{% extends "base.html" %}

{% block content %}
<div class="main"> 
    <table class = "mdl-data-table mdl-js-data-table mdl-data-table">
      {% for person in people %}
      <tr>
          <td>{{ person.first_name }}</td> 
          <td>{{ person.origination }}</td>
          <td>{{ person.destination_city }}</td> 
          <td>{{ person.destination_state }}</td> 
          <td>{{ person.date }}</td> 
          <td>{{ person.time }}</td> 
          <td>{{ person.taking_passengers }}</td>
          <td>{{ person.seats_available }}</td> 
      </tr>
      {% endfor %} 
  </table>
</br>

<form action="{% url 'rides:index' %}" method="get">
    <!-- Simple Textfield -->
    <!-- <form action="{% url 'rides:index' %}" method="get">
        <div class="mdl-textfield mdl-js-textfield">
        <input class="mdl-textfield__input" type="text" id="sample1">
        <label class="mdl-textfield__label" for="sample1">Text...</label>
        </div> -->
    {{ form }}
    <!-- <input  > -->
    <!-- Colored raised button -->
<button type="submit" value="Submit" onclick="return checkForm()" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
    Submit
  </button>
    <!-- <button type="submit" class="button" onclick="return checkForm()">
        Submit
      </button> -->
    </br>
</br>
</br>
    
    

<!-- 
    <button type="submit" class="btn btn-primary" onclick="return checkForm()">
        <i class="fas fa-search"></i> Submit
    </button> -->
    </form>

</div> 






{% endblock %}