{% extends "base.html" %}

{% block content %}
<div class="main"> 
    <table class = "mdl-data-table mdl-js-data-table mdl-data-table">
    <thead>
        {% if people %}
        <tr>
            <th>First Name</th>
            <th>Origination City</th>
            <th>Origination State</th>
            <th>Destination City</th>
            <th>Destination State</th>
            <th>Date</th>
            <th>Time</th>
            <th>Taking Passengers</th>
            <th>Seats Available</th>
        </tr>
        {% endif %}
    </thead>
      {% for person in people %}
      <tr>
          <td>{{ person.first_name }}</td> 
          <td>{{ person.origination }}</td>
          <td>{{ person.origination_state }}</td> <!-- Added origin state -->
          <td>{{ person.destination_city }}</td> 
          <td>{{ person.destination_state }}</td> 
          <td>{{ person.date }}</td> 
          <td>{{ person.time }}</td> 
          <td>{{ person.taking_passengers }}</td>
          <td>{{ person.seats_available }}</td> 
      </tr>
      {% endfor %} 
  </table>
</br>

<form action="{% url 'rides:index' %}" method="get">
    <!-- Simple Textfield -->
    <!-- <form action="{% url 'rides:index' %}" method="get">
        <div class="mdl-textfield mdl-js-textfield">
        <input class="mdl-textfield__input" type="text" id="sample1">
        <label class="mdl-textfield__label" for="sample1">Text...</label>
        </div> -->
    {{ form }}
    <!-- <input  > -->
    <!-- Colored raised button -->
<button type="submit" value="Submit" onclick="return checkForm()" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
    Search
  </button>
    <!-- <button type="submit" class="button" onclick="return checkForm()">
        Submit
      </button> -->
    </br>
</br>
</br>
    </form>
</div> 

<form id="ai" class="menu-item"  method="post" action="{% url 'rides:ai_interaction' %}">
    {% csrf_token %}
    <input type="text" name="user_input">
    <button type="submit" value="Submit">Submit</button>
    </form>
    


{% endblock %}